section(data-background="#B10DC9")
    h2 Risorse
    ul
        li
            a(href="https://github.com/hakimel/reveal.js") Istruzioni Reveal Js
        li
            a(href="https://naltatis.github.io/jade-syntax-docs/") Sintassi Jade
        li
            a(href="https://html2jade.org/") Convertitore HTML -> Jade