section(data-background="#001F3F")
    section
        h2 Part1
        p
            q
                | You are in prison.
                | If you wish to get out of prison,
                | the first thing you must do is realize that you are in prison.
                | If you think you are free, you can't escape.
            |  G.I. Gurdjieff