section(data-background="#001F3F")
    section
        h2 Part2
        p
            q
                | It is the greatest mistake to think that man is always one and the same.
                | A man is never the same for long.
                | He is continually changing.
                | He seldom remains the same even for half an hour.
            |  G.I. Gurdjieff