section(data-background="#001F3F")
    section
        h2.fragment.fade-in Chi siete?
        p.fragment.fade-in perche' siete qui?
        p.fragment.fade-in che volete?
        p.fragment.fade-in un fiorino!